<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<properties resource="dataSource.properties"></properties>
	
	<typeAliases>
		<typeAlias type="ordermade.domain.Account" alias="Account"/>
		<typeAlias type="ordermade.domain.Attach" alias="Attach"/>
		<typeAlias type="ordermade.domain.Category" alias="Category"/>
		<typeAlias type="ordermade.domain.Comment" alias="Comment"/>
		<typeAlias type="ordermade.domain.InviteRequest" alias="InviteRequest"/>
		<typeAlias type="ordermade.domain.Member" alias="Member"/>
		<typeAlias type="ordermade.domain.Portfolio" alias="Portfolio"/>
		<typeAlias type="ordermade.domain.Product" alias="Product"/>
		<typeAlias type="ordermade.domain.PurchaseHistory" alias="PurchaseHistory"/>
		<typeAlias type="ordermade.domain.Request" alias="Request"/>
		<typeAlias type="ordermade.domain.Review" alias="Review"/>
		<typeAlias type="ordermade.domain.Tag" alias="Tag"/>
		<typeAlias type="ordermade.domain.Comment" alias="Comment"/>
	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<!-- <mapper resource="mapper/ProductMapper.xml"/>
		<mapper resource="mapper/ReviewMapper.xml"/>
		<mapper resource="mapper/InviteRequestMapper.xml"/>
		<mapper resource="mapper/RequestMapper.xml"/>
		<mapper resource="mapper/MemberMapper.xml" />
		<mapper resource="mapper/TagMapper.xml" />
		<mapper resource="mapper/CategoryMapper.xml" />
		<mapper resource="mapper/AccountMapper.xml"/>
		<mapper resource="mapper/CommentMapper.xml"/>
		<mapper resource="mapper/AttachMapper.xml"/> -->
		<mapper resource="mapper/PortfolioMapper.xml"/>
		<mapper resource="mapper/PurchaseHistoryMapper.xml"/>
	</mappers>
</configuration>