<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="ordermade.store.mapper.CommentMapper">
  
  	<update id="insertComment" parameterType="Comment">
  	</update>
  	
  	<select id="selectAccountById" parameterType="String" resultMap="Account">
  		SELECT MONEY
  		FROM ACCOUNT
  		WHERE MEMBER_ID = #{member.id}
  	</select>
  
  </mapper>