<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="ordermade.store.mapper.CommentMapper">
  
  	<resultMap type="Comment" id="commentMap">
  		<id property="id" column="id"/>
  		<result property="content" column="content"/>
  		<association property="member" column="member_id"
  			select="ordermade.store.mapper.MemberMapper.selectMemberById" javaType="Member"
  			jdbcType="VARCHAR" />
  		<association property="request" column="request_id"
  			select="ordermade.store.mapper.RequestMapper.selectRequestById" javaType="Request"
  			jdbcType="VARCHAR" />
  	</resultMap>
  	
  	<insert id="insertComment" parameterType="Comment">
  		<selectKey keyProperty="id" resultType="String" order="BEFORE">
  			select comment_seq.nextval FROM DUAL
  		</selectKey>
		INSERT INTO COMM(id, content, member_id, request_id, time)
		VALUES (#{id}, #{content}, #{member.id}, #{request.id}, TO_DATE(sysdate,'yyyy/mm/dd hh24:mi:ss'))
  	</insert>
  	
  	<update id="updateCommentById" parameterType="Comment">
  		UPDATE COMM
  		SET content = #{content},
  			time = #{time}
  		WHERE member_id = #{member.id}
  	</update>

  	<delete id="deleteCommentById" parameterType="String">
  		DELETE FROM COMM
  		WHERE member_id = #{id}
  	</delete>
  	
  	<!-- 의뢰서에 관한 답변 10개씩 불러오기 -->
  	<select id="selectCommentsByRequestId" resultType="Comment">
  		SELECT * FROM (
  			SELECT rownum limitNum, A.* FROM COMM A 
  			WHERE REQUEST_ID=#{requestId} 
  			and rownum &lt;= #{page}*10)
  		WHERE limitNum > (#{page}-1)*10
  	</select>
  
  </mapper>