<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="ordermade.store.mapper.CommentMapper">
  
  	<resultMap type="Comment" id="commentMap">
  		<id property="id" column="id"/>
  		<result property="content" column="content"/>
  		<result property="contentType" column="content_type"/>
  		<association property="member" column="member_id"
  			select="ordermade.store.mapper.MemberMapper.selectMemberById" javaType="Member"
  			jdbcType="VARCHAR" />
  		<association property="request" column="request_id"
  			select="ordermade.store.mapper.RequestMapper.selectRequestById" javaType="Request"
  			jdbcType="VARCHAR" />
  	</resultMap>
  	
  	<insert id="insertComment" parameterType="Comment">
  		<selectKey keyProperty="id" resultType="String" order="BEFORE">
  			select comment_seq.nextval FROM DUAL
  		</selectKey>
		INSERT INTO COMM(id, content, content_type, member_id, request_id, time)
		VALUES (#{id}, #{content}, #{contentType}, #{member.id}, #{request.id}, SYSDATE)
  	</insert>
  	
  	<update id="updateCommentById" parameterType="Comment">
  		UPDATE COMM 
  		SET content = #{content}, content_type=#{contentType}, member_id=#{member.id}, request_id=#{request.id}
  		WHERE id = #{id}
  	</update>

  	<delete id="deleteCommentById" parameterType="String">
  		DELETE FROM COMM
  		WHERE id = #{id}
  	</delete>
  	
  	<!-- 의뢰서에 관한 답변 10개씩 불러오기 -->
  	<select id="selectCommentsByRequestId" resultMap="commentMap">
  		SELECT id, 
  				content, 
  				content_type, 
  				member_id, 
  				request_id, 
  				time
  		FROM (SELECT ROW_NUMBER() OVER (ORDER BY time DESC) rnum,
  						id, 
  						content, 
  						content_type, 
  						member_id, 
  						request_id, 
  						time
  				FROM comm
	  			WHERE request_id = #{requestId})
  		WHERE rnum BETWEEN  ((#{page}-1)*${@ordermade.constants.Constants@COMMENT_ROW_SIZE}) AND (#{page}*${@ordermade.constants.Constants@COMMENT_ROW_SIZE})
  	</select>
  
  </mapper>