<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ordermade.store.mapper.InviteRequestMapper">
	<resultMap type="InviteRequest" id="inviteRequestMap">
		<result property="id" column="id" />
		<result property="message" column="message" />
		<result property="form" column="form" />
		<result property="requestTime" column="request_time"/>    
		<association property="maker" column="maker_id"
			select="store.mapper.MemberMapper.selectMemberById" javaType="Member"
			jdbcType="VARCHAR" />
		<association property="request" column="request_id"
			select="store.mapper.RequestMapper.selectRequestById" javaType="Request"
			jdbcType="VARCHAR" />
	</resultMap>
	
	<sql id="selectInviteRequest">
		SELECT id, message, maker_id, request_time, request_id, form
	</sql>
	
	<sql id="selectInviteRequestRownum">
		SELECT rownum rnum, id, message, maker_id, request_time, request_id, form
	</sql>
	
	<insert id="insertInviteRequest" parameterType="inviteRequest">
		INSERT INTO invite_request(id, message, maker_id, request_time, request_id, form)
		VALUES (#{id},#{message},#{maker.id},TO_DATE(sysdate,'yyyy/mm/dd hh24:mi:ss'),#{request.id},#{form})
	</insert>
	
	<delete id="deleteInviteRequestById" parameterType="String">
		DELETE FROM invite_request
		WHERE id = #{id}
	</delete>
	
	<delete id="deleteInviteRequestsByRequestId" parameterType="String" >
		DELETE FROM invite_request
		WHERE request_id = #{request.id}
	</delete>
	
	 <select id="selectInviteRequestsByMakerId" parameterType="HashMap" resultMap="inviteRequestMap">
		<include refid="selectInviteRequest"/>
		FROM (<include refid="selectInviteRequestRownum"/>
			 FROM invite_request 
			 WHERE maker_Id = #{makerId})
		WHERE rnum BETWEEN #{begin} AND #{end}
	</select>
	
	<select id="selectInviteRequestsByConsumerId" parameterType="HashMap" resultMap="inviteRequestMap">
		<include refid="selectInviteRequest"/>
		FROM (SELECT rownum rnum, ir.id, ir.message, ir.maker_id, ir.request_time, ir.request_id, ir.form
			 FROM invite_request ir INNER JOIN member m ON ir.consumer_id = m.id    <!--memberid? consumerid?  -->
			 WHERE ir.consumerId = #{consumerId})
		WHERE rnum BETWEEN #{begin} AND #{end}
	</select> 
</mapper>
  