<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="ordermade.store.mapper.PortfolioMapper">
  
  	<resultMap type="Portfolio" id="portfolioMap">

  		<id property="id" column="id"/>
  		<result property="title" column="title"/>
  		<result property="content" column="content"/>
  		<!-- <collection property="tags" column="id" ofType="Tag" select="ordermade.store.mapper.TagMapper.selectTagById" javaType="ArrayList" jdbcType="varchar" /> -->
  		<result property="category" column="type" />
  		<!-- <association property="maker" column="maker_id" select="ordermade.store.mapper.MemberMapper.selectMemberById" javaType="String" jdbcType="varchar"/> -->
  		<result property="image" column="image"/>

  	</resultMap>
  
  
  
  	<insert id="insertPortfolio">
  		<selectKey resultType="String" keyProperty="id" order="BEFORE">
  			select portfolio_seq.nextval from dual
  		</selectKey>
  		insert into portfolio(id, title, type, content, maker_id, image) 
  		values(#{id}, #{title}, #{category} , #{content}, #{maker.id}, #{image})
  	</insert>
  
  	<update id="updatePortfolioById">
  		update portfolio set title=#{title}, type=#{category}, content=#{content}, maker_id=#{maker.id}, image=#{image} where id=#{id}
  	</update>
  
  
  	<delete id="deletePortfolioById" parameterType="string">
  		delete from portfolio where id=#{id}
  	</delete>
  
  	<select id="selectPortfolioById" resultMap="portfolioMap">
  		select id, title, type, content, maker_id, image from portfolio where id=#{id}
  	</select>
  
  	<select id="selectPortfoliosByMakerId" resultMap="portfolioMap">
		select * from (
			select rownum limitNum, A.* from portfolio A where maker_id=#{makerId}
			and rownum &lt;= ((#{page}-1)*10+10)
		) where limitNum > ((#{page}-1)*10)

  	</select>
  	
  
  	<select id="selectPortfoliosByMakerIdAndTitle" resultMap="portfolioMap">
  		select * from (
			select rownum limitNum, A.* from portfolio A where maker_id=#{makerId} and #{title}
			and rownum &lt;= ((#{page}-1)*10+10)
		) where limitNum > ((#{page}-1)*10)
  	</select>
  
    <select id="selectPortfoliosByCategory" resultMap="portfolioMap">
		select * from (
			select rownum limitNum, A.* from portfolio A where type=#{category}
			and rownum &lt;= ((#{page}-1)*10+10)
		) where limitNum > ((#{page}-1)*10)
  	</select>
  
  </mapper>
  
  
  