<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="ordermade.store.mapper.PortfolioMapper">

  	<resultMap type="Portfolio" id="portfolioMap">
  		<id property="id" column="id"/>
  		<result property="title" column="title"/>
  		<result property="content" column="content"/>
  		<result property="category" column="type" />
  		<result property="image" column="image"/>
  		<association property="maker" column="maker_id" select="ordermade.store.mapper.MemberMapper.selectMemberById" javaType="Member" jdbcType="VARCHAR" />
		<collection property="tags" column="id" ofType="Tag" select="ordermade.store.mapper.TagMapper.selectTagsByPortfolioId" javaType="ArrayList" jdbcType="VARCHAR"/> 
  	</resultMap>
  
  	<insert id="insertPortfolio" parameterType="Portfolio">
  		<selectKey resultType="String" keyProperty="id" order="BEFORE">
  			SELECT portfolio_SEQ.NEXTVAL FROM dual
  		</selectKey>
  		INSERT INTO portfolio(id, title, type, content, maker_id, image) 
  		values(#{id}, #{title}, #{category}, #{content}, #{maker.id}, #{image})
  	</insert>
  
  	<update id="updatePortfolioById" parameterType="Portfolio">
  		UPDATE portfolio 
  		SET title=#{title}, type=#{category}, content=#{content}, maker_id=#{maker.id}, image=#{image}
  		WHERE id=#{id}
  	</update>
  
  	<delete id="deletePortfolioById" parameterType="String">
  		DELETE from portfolio 
  		WHERE id=#{id}
  	</delete>
  
  	<select id="selectPortfolioById" parameterType="java.util.Map" resultMap="portfolioMap">
  		SELECT id, title, type, content, maker_id, image 
  		FROM portfolio 
  		WHERE id=#{id}
  	</select>
  
  	<select id="selectPortfoliosByMakerId" parameterType="java.util.Map" resultMap="portfolioMap">
		select * from (
			select rownum limitNum, A.* from portfolio A where maker_id=#{makerId}
			and rownum &lt;= (#{page}*${@ordermade.constants.Constants@PORTFOLIO_ROW_SIZE}) order by A.id desc
		) where limitNum > ((#{page}-1)*${@ordermade.constants.Constants@PORTFOLIO_ROW_SIZE})

  	</select>
  	
  
  	<select id="selectPortfoliosByMakerIdAndTitle" parameterType="java.util.Map" resultMap="portfolioMap">
  		select * from (
			select rownum limitNum, A.* from portfolio A where maker_id=#{makerId} and title like '%${title}%'
			and rownum &lt;= (#{page}*${@ordermade.constants.Constants@PORTFOLIO_ROW_SIZE}) order by A.id desc
		) where limitNum > ((#{page}-1)*${@ordermade.constants.Constants@PORTFOLIO_ROW_SIZE})
  	</select>
  
    <select id="selectPortfoliosByCategory" parameterType="java.util.Map" resultMap="portfolioMap">
		select * from (
			select rownum limitNum, A.* from portfolio A where type=#{category}
			and rownum &lt;= (#{page}*${@ordermade.constants.Constants@PORTFOLIO_ROW_SIZE}) order by A.id desc
		) where limitNum > ((#{page}-1)*${@ordermade.constants.Constants@PORTFOLIO_ROW_SIZE})
  	</select>
  	
  	<select id="selectPortfoliosByTags" parameterType="List" resultMap="portfolioMap">
		SELECT DISTINCT portfolio.id, portfolio.title, portfolio.content, portfolio.type, portfolio.image, portfolio.maker_id
		FROM portfolio INNER JOIN tag ON portfolio.id = tag.portfolio_id
		WHERE tag.keyword IN
			<foreach collection="list" item="tag" open="(" close=")" separator=",">
	            #{tag.keyword}
	        </foreach>
 	</select>
  </mapper>
  