<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ordermade.store.mapper.RequestMapper">
	<resultMap type="Request" id="requestMap">
		<result property="id" column="id" />
		<result property="title" column="title" />
		<result property="content" column="content" />
		<result property="bound" column="bound" />
		<result property="hopePrice" column="hope_price" jdbcType="NUMERIC" />
		<result property="price" column="price" jdbcType="NUMERIC" />
		<association property="maker" column="maker_id"
			select="store.mapper.MemberMapper.selectMemberById" javaType="Member"
			jdbcType="VARCHAR" />
		<association property="consumer" column=" consumer_id"
			select="store.mapper.MemberMapper.selectMemberById" javaType="Member"
			jdbcType="VARCHAR" />
		<association property="category" column="type"
			select="store.mapper.CategoryMapper.selectAllCategory" javaType="Category"
			jdbcType="VARCHAR" />
		<collection property=""></collection>	
			private List<Comment> comments;
	private List<Attach> attachs;
			
	</resultMap>
	
	<sql id="selectInviteRequest">
		SELECT id, message, member_id, request_time, request_id, form
		FROM invite_request
	</sql>