<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ordermade.store.mapper.RequestMapper">
	<resultMap type="Request" id="requestMap">
		<result property="id" column="id" />
		<result property="title" column="title" />
		<result property="content" column="content" />
		<result property="bound" column="bound" />
		<result property="category" column="type" />
		<result property="hopePrice" column="hope_price" jdbcType="NUMERIC" />
		<result property="price" column="price" jdbcType="NUMERIC" />
		<association property="maker" column="maker_id"
			select="store.mapper.MemberMapper.selectMemberById" javaType="Member"
			jdbcType="VARCHAR" />
		<association property="consumer" column=" consumer_id"
			select="store.mapper.MemberMapper.selectMemberById" javaType="Member"
			jdbcType="VARCHAR" /> 
		<!-- <collection property="comments" column="id"
			select="store.mapper.CommentMapper.selectCommentsByRequestId"
			javaType="ArrayList" jdbcType="VARCHAR" /> -->
		<!-- <collection property="attachs" column="id"
			select="store.mapper.AttachMapper.selectAllAttachsByRequestId"
			javaType="ArrayList" jdbcType="VARCHAR" />  -->
	</resultMap>


	
	<insert id="insertRequest" parameterType="request">
	  	<selectKey resultType="String" keyProperty="id" order="BEFORE">
  			select request_seq.nextval from dual
  		</selectKey>
		INSERT INTO request(id, title, maker_id, consumer_id, type, content, hope_price, price, bound)
		VALUES (#{id},#{title},#{maker.id},#{consumer.id},#{category},#{content},#{hopePrice},#{price},#{bound})
	</insert>

	<update id="updateReqeustById" parameterType="request">
		UPDATE request
		SET title = #{title}, maker_id=#{maker.id}, consumer_id=#{consumer.id}, type = #{category}, content = #{content}, hope_price=#{hopePrice}, price=#{hopePrice}, bound=#{bound} 
		WHERE id = #{id}
	</update>

	<delete id="deleteRequestById" parameterType="String">
		DELETE FROM request
		WHERE id = #{id}
	</delete>


	<sql id="selectRequest">
		SELECT id, title, maker_id, consumer_id, type, content, hope_price, price, bound
	</sql>

	<sql id="selectRequestRownum">
		SELECT rownum rnum, id, title, maker_id, consumer_id, type, content, hope_price, price, bound
	</sql>


	<select id="selectRequestById" parameterType="String" resultMap="requestMap">
		<include refid="selectRequest"/>
		FROM request
		WHERE id = #{id}
	</select>
	
	<select id="selectRequestsByBound" parameterType="HashMap" resultMap="requestMap">
		select * from (
			select rownum limitNum, A.* from request A where bound = #{bound}
			and rownum &lt;= (#{page}*${@ordermade.constants.Constants@PORTFOLIO_ROW_SIZE}) order by A.id desc
		) where limitNum > ((#{page}-1)*${@ordermade.constants.Constants@PORTFOLIO_ROW_SIZE})
	</select>

	<select id="selectRequestsByBoundAndTitle" parameterType="HashMap" resultMap="requestMap">
		<include refid="selectRequest"/>
		FROM (<include refid="selectRequestRownum"/>
		 	FROM request 
		 	WHERE bound = #{bound} AND title LIKE '%${title}%')       
		WHERE rnum BETWEEN #{begin} AND #{end} 
	</select>
	
	<select id="selectRequestsByBoundAndContent" parameterType="HashMap" resultMap="requestMap">
		<include refid="selectRequest"/>
		FROM (<include refid="selectRequestRownum"/>
			 FROM request 
			 WHERE bound = #{bound} AND content LIKE '%${content}%')        <!-- '%${value}%' -->
		WHERE rnum BETWEEN #{begin} AND #{end}
	</select>	
		
	<select id="selectRequestsByConsumerId" parameterType="HashMap" resultMap="requestMap">
		<include refid="selectRequest"/>
		FROM (<include refid="selectRequestRownum"/>
			 FROM request 
			 WHERE consumer_id = #{consumerId} 
			 ORDER BY id DESC)       
		WHERE rnum BETWEEN #{begin} AND #{end}
	</select>
			
	<select id="selectRequestsByConsumerIdWithMaker" parameterType="HashMap" resultMap="requestMap">
		<include refid="selectRequest"/>
		FROM (<include refid="selectRequestRownum"/>
		 	FROM request 
		 	WHERE consumer_id = #{consumerId} AND maker_id IS NOT NULL)        
		WHERE rnum BETWEEN #{begin} AND #{end}
	</select>		
	
	<select id="selectRequestsByConsumerIdWithPayment" parameterType="HashMap" resultMap="requestMap">
		<include refid="selectRequest"/>
		FROM (SELECT rownum rnum, r.id, r.title, r.maker_id, r.consumer_id, r.type, r.content, r.hope_price, r.price, r.bound
		 	FROM request r INNER JOIN  purchase_history ph ON r.consumer_id = ph.consumer_id
			WHERE r.consumer_id = #{consumerId})   
		WHERE rnum BETWEEN #{begin} AND #{end}
	</select>
	
</mapper>