<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ordermade.store.mapper.TagMapper">
	<resultMap type="ordermade.domain.Tag" id="TagMap">
		<result column="keyword" property="keyword" />
		<result column="score" property="score" />
		<association column="portfolioid" property="portfolio"
			javaType="Portfolio" jdbcType="VARCHAR"
			select="ordermade.store.mapper.PortfolioMapper.selectPortfolioById" />
	</resultMap>

	<insert id="insertTag" parameterType="Tag">
		INSERT INTO tag(keyword,score,portfolio_id)
		VALUES
		(#{keyword},#{score},#{portfolio.id})

	</insert>
	<select id="selectTagsByPortfolioId" parameterType="string" resultMap="TagMap">
		SELECT keyword,score,portfolio_id
		FROM tag
		WHERE portfolio_id = #{portfolioId}
	</select>
	<delete id="deleteTagById" parameterType="string">
		DELETE FROM tag
		WHERE id
		= #{id}
	</delete>

</mapper>
